// Font
$mainFont                : Helvetica, Arial, sans-serif;
$mainFontRegular         : 'Montserrat-Regular';

// Size
$mainFontSize            : 14px;
$titleFontSize           : 32px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$mainFontColor           : #000;
$mainFontBackground      : #48546b;
$default-color           : #ffffff;
$primary-color           : #14A5DA;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #E76400;
$light-color             : #DCE5E9;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;